# PAIR PROGRAMMING AGRUPACIÓN DE DATOS
__________

### EJERCICIOS APPLY

1. Las columnas land_area, armed_forces_size, co2-emissions, gdp, population, urban_population, latitude, longitude, density, cpi son de tipo object pero en realidad deberían ser numéricas. Crea una función que nos permita cambiar el tipo de dato de estas columnas al que le corresponde.

2. Crea una función para añadir una nueva columna llamada 'Continent' al DataFrame para indicar a qué continente pertenece cada país.

In [1]:
import pandas as pd
import numpy as np
df = pd.read_csv('world_data_nuevo.csv')

In [3]:
def columna_continentes (nombre):
    continentes = {
    'Asia': ['Afghanistan', 'Armenia', 'Azerbaijan', 'Bahrain', 'Bangladesh', 'Bhutan', 'Brunei', 'Cambodia', 'China', 'Georgia', 'India', 'Indonesia', 'Iran', 'Iraq', 'Israel', 'Japan', 'Jordan', 'Kazakhstan', 'Kuwait', 'Kyrgyzstan', 'Laos', 'Lebanon', 'Malaysia', 'Maldives', 'Mongolia', 'Myanmar', 'Nepal', 'North Korea', 'Oman', 'Pakistan', 'Palau', 'Palestinian National Authority', 'Philippines', 'Qatar', 'Saudi Arabia', 'Singapore', 'South Korea', 'Sri Lanka', 'Syria', 'Tajikistan', 'Thailand', 'East Timor', 'Turkey', 'Turkmenistan', 'United Arab Emirates', 'Uzbekistan', 'Vietnam', 'Yemen'],
    'Europe': ['Albania', 'Andorra', 'Austria', 'Belarus', 'Belgium', 'Bosnia and Herzegovina', 'Bulgaria', 'Croatia', 'Cyprus', 'Czech Republic', 'Denmark', 'Estonia', 'Finland', 'France', 'Georgia', 'Germany', 'Greece', 'Hungary', 'Iceland', 'Republic of Ireland', 'Italy', 'Latvia', 'Liechtenstein', 'Lithuania', 'Luxembourg', 'Malta', 'Moldova', 'Monaco', 'Montenegro', 'Netherlands', 'North Macedonia', 'Norway', 'Poland', 'Portugal', 'Romania', 'Russia', 'San Marino', 'Serbia', 'Slovakia', 'Slovenia', 'Spain', 'Sweden', 'Switzerland', 'Ukraine', 'United Kingdom'],
    'Africa': ['Algeria', 'Angola', 'Benin', 'Botswana', 'Burkina Faso', 'Burundi', 'Ivory Coast', 'Cape Verde', 'Cameroon', 'Central African Republic', 'Chad', 'Comoros', 'Republic of the Congo', 'Costa Rica', 'Democratic Republic of the Congo', 'Djibouti', 'Egypt', 'Equatorial Guinea', 'Eritrea', 'Eswatini', 'Ethiopia', 'Gabon', 'The Gambia', 'Ghana', 'Guinea', 'Guinea-Bissau', 'Kenya', 'Lesotho', 'Liberia', 'Libya', 'Madagascar', 'Malawi', 'Mauritania', 'Mauritius', 'Morocco', 'Mozambique', 'Namibia', 'Niger', 'Nigeria', 'Rwanda', 'Saint Kitts and Nevis', 'Saint Lucia', 'Saint Vincent and the Grenadines', 'Seychelles', 'Sierra Leone', 'Somalia', 'South Africa', 'South Sudan', 'Sudan', 'Tanzania', 'Togo', 'Tunisia', 'Uganda', 'Zambia', 'Zimbabwe'],
    'North America': ['Antigua and Barbuda', 'The Bahamas', 'Barbados', 'Belize', 'Canada', 'Dominica', 'Dominican Republic', 'El Salvador', 'Grenada', 'Guatemala', 'Haiti', 'Honduras', 'Jamaica', 'Mexico', 'Nicaragua', 'Panama', 'Saint Kitts and Nevis', 'Saint Lucia', 'Saint Vincent and the Grenadines', 'Trinidad and Tobago', 'United States'],
    'South America': ['Argentina', 'Bolivia', 'Brazil', 'Chile', 'Colombia', 'Ecuador', 'Guyana', 'Paraguay', 'Peru', 'Suriname', 'Uruguay', 'Venezuela'],
    'Oceania': ['Australia', 'Fiji', 'Kiribati', 'Marshall Islands', 'Nauru', 'New Zealand', 'Palau', 'Papua New Guinea', 'Samoa', 'Solomon Islands', 'Tonga', 'Tuvalu', 'Vanuatu']
}

    for continente,pais in continentes.items():
        if nombre in pais:
            return continente

df['continent'] = df['country'].apply(columna_continentes)
df

,Unnamed: 0,country,density,abbreviation,agricultural_land(_%),land_area,armed_forces_size,birth_rate,calling_code,capital/major_city,...,physicians_per_thousand,population,population_labor_force_participation_,tax_revenue_,total_tax_rate,unemployment_rate,urban_population,latitud,longitud,continent
0,0,Afghanistan,60,AF,58.1,"652,230","323,000",32.49,93.0,Kabul,...,0.28,"38,041,754",48.9,9.3,71.4,11.12,"9,797,273",'33.93911 ','67.709953',Asia
1,1,Albania,105,AL,43.1,"28,748","9,000",11.78,355.0,Tirana,...,1.20,"2,854,191",55.7,18.6,36.6,12.33,"1,747,593",'41.153332 ','20.168331',Europe
2,2,Algeria,18,DZ,17.4,"2,381,741","317,000",24.28,213.0,Algiers,...,1.72,"43,053,054",41.2,37.2,66.1,11.70,"31,510,100",'28.033886 ','1.659626',Africa
3,3,Andorra,164,AD,40.0,468,NaN,7.20,376.0,Andorra la Vella,...,3.33,"77,142",NaN,NaN,NaN,NaN,"67,873",'42.506285 ','1.521801',Europe
4,4,Angola,26,AO,47.5,"1,246,700","117,000",40.73,244.0,Luanda,...,0.21,"31,825,295",77.5,9.2,49.1,6.89,"21,061,025",'-11.202692 ','17.873887',Africa
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
190,190,Venezuela,32,VE,24.5,"912,050","343,000",17.88,58.0,Caracas,...,1.92,"28,515,829",59.7,NaN,73.3,8.80,"25,162,368",'6.42375 ','-66.58973',South America
191,191,Vietnam,314,VN,39.3,"331,210","522,000",16.75,84.0,Hanoi,...,0.82,"96,462,106",77.4,19.1,37.6,2.01,"35,332,140",'14.058324 ','108.277199',Asia
192,192,Yemen,56,YE,44.6,"527,968","40,000",30.45,967.0,Sanaa,...,0.31,"29,161,922",38.0,NaN,26.6,12.91,"10,869,523",'15.552727 ','48.516388',Asia
193,193,Zambia,25,ZM,32.1,"752,618","16,000",36.19,260.0,Lusaka,...,1.19,"17,861,030",74.6,16.2,15.6,11.43,"7,871,713",'-13.133897 ','27.849332',Africa
194,194,Zimbabwe,38,ZW,41.9,"390,757","51,000",30.68,263.0,Harare,...,0.21,"14,645,468",83.1,20.7,31.6,4.95,"4,717,305",'-19.015438 ','29.154857',Africa

3. Guarda el DataFrame después de los cambios creados después de los dos ejercicios anteriores para usarlo en el pairprogramming de mañana.

In [ ]:
df.to_csv("worl_data_continentes.csv")

_________
### EJERCICIOS GROUP BY 
_________

1. ¿Cuál es la densidad de población promedio por continente?

2. ¿Cuál es la esperanza de vida promedio por idioma oficial? Agrupa los países por idioma oficial y calcula la esperanza de vida promedio.

3. ¿Cuál es la tasa de mortalidad infantil promedio por moneda?

4. ¿Cuál es el salario mínimo por continente?

5. ¿Cuál es la tasa de impuestos total máxima por densidad de población por continente? Para solucionar este ejercicio puedes:

- Primero, necesitas calcular la tasa de impuestos total para cada continente. La tasa de impuestos total se encuentra en la columna "total_tax_rate".
- Luego, calcula la densidad de población para cada continente. La densidad de población se encuentra en la columna "density".
- Ahora, divide la tasa de impuestos total entre la densidad de población para obtener la tasa de impuestos total por persona por kilómetro cuadrado.
- Encuentra el país que tiene el valor más alto en esta nueva columna calculada.

6. ¿Cuál es el porcentaje de población urbana promedio por continente?

7. ¿Cuál es la diferencia entre el PIB promedio y el gasto en salud de bolsillo promedio por idioma oficial? Para contestar esta pregunta dabes seguir los siguientes pasos:

- Agrupa el DataFrame por idioma oficial y calcula la media del Gasto de Bolsillo en salud (out_of_pocket_health_expenditure) y del GPD.
- Calcula la diferencia entre el PIB promedio y el gasto en salud de bolsillo promedio

8. ¿Cuál es la tasa de maternidad promedio por tasa de impuestos total? Para resolver el ejercicio deberás:
- Primero, calcula la tasa de maternidad promedio para cada continente. Puedes usar la columna "maternal_mortality_ratio" que representa la tasa de mortalidad materna.
- Calcula la tasa de impuestos total promedio para cada continente. Puedes usar la columna "total_tax_rate" que representa la tasa de impuestos total en cada continente.
- Luego, divide la tasa de maternidad promedio por la tasa de impuestos total promedio para obtener la relación entre ambas tasas.
- Encuentra el país con la tasa de maternidad más alta por punto porcentual de tasa de impuestos total.

BONUS:
- ¿Cuál es la tasa de natalidad máxima por área forestal por continente? Encuentra el país con la tasa de natalidad más alta por cada punto porcentual de área forestal.
- ¿Cuál es la diferencia entre la tasa de impuestos total y la tasa de desempleo promedio por continente?