In [1]:
import pandas as pd
import numpy as np

In [2]:
pd1 = pd.read_csv('world-data-2023_part1.csv', index_col=0)
pd2 = pd.read_csv('world-data-2023_part2.csv', index_col=0)
pd.set_option('display.max_columns', None)

In [3]:
pd1

,Country,Density\n(P/Km2),Abbreviation,Agricultural Land( %),Land Area(Km2),Armed Forces size,Birth Rate,Calling Code,Capital/Major City,Co2-Emissions,CPI,CPI Change (%),Currency-Code,Fertility Rate,Forested Area (%),Gasoline Price
0,Afghanistan,60,AF,58.10%,"652,230","323,000",32.49,93.0,Kabul,"8,672",149.9,2.30%,AFN,4.47,2.10%,$0.70
1,Albania,105,AL,43.10%,"28,748","9,000",11.78,355.0,Tirana,"4,536",119.05,1.40%,ALL,1.62,28.10%,$1.36
2,Algeria,18,DZ,17.40%,"2,381,741","317,000",24.28,213.0,Algiers,"150,006",151.36,2.00%,DZD,3.02,0.80%,$0.28
3,Andorra,164,AD,40.00%,468,NaN,7.20,376.0,Andorra la Vella,469,NaN,NaN,EUR,1.27,34.00%,$1.51
4,Angola,26,AO,47.50%,"1,246,700","117,000",40.73,244.0,Luanda,"34,693",261.73,17.10%,AOA,5.52,46.30%,$0.97
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
190,Venezuela,32,VE,24.50%,"912,050","343,000",17.88,58.0,Caracas,"164,175","2,740.27",254.90%,VED,2.27,52.70%,$0.00
191,Vietnam,314,VN,39.30%,"331,210","522,000",16.75,84.0,Hanoi,"192,668",163.52,2.80%,VND,2.05,48.10%,$0.80
192,Yemen,56,YE,44.60%,"527,968","40,000",30.45,967.0,Sanaa,"10,609",157.58,8.10%,YER,3.79,1.00%,$0.92
193,Zambia,25,ZM,32.10%,"752,618","16,000",36.19,260.0,Lusaka,"5,141",212.31,9.20%,ZMW,4.63,65.20%,$1.40
194,Zimbabwe,38,ZW,41.90%,"390,757","51,000",30.68,263.0,Harare,"10,983",105.51,0.90%,NaN,3.62,35.50%,$1.34

In [4]:
pd2

,GDP,Gross primary education enrollment (%),Gross tertiary education enrollment (%),Infant mortality,Largest city,Life expectancy,Maternal mortality ratio,Minimum wage,Official language,Out of pocket health expenditure,Physicians per thousand,Population,Population: Labor force participation (%),Tax revenue (%),Total tax rate,Unemployment rate,Urban_population,country,coordinates
0,"$19,101,353,833",104.00%,9.70%,47.9,Kabul,64.5,638.0,$0.43,Pashto,78.40%,0.28,"38,041,754",48.90%,9.30%,71.40%,11.12%,"9,797,273",Afghanistan,"('33.93911 ', '67.709953')"
1,"$15,278,077,447",107.00%,55.00%,7.8,Tirana,78.5,15.0,$1.12,Albanian,56.90%,1.20,"2,854,191",55.70%,18.60%,36.60%,12.33%,"1,747,593",Albania,"('41.153332 ', '20.168331')"
2,"$169,988,236,398",109.90%,51.40%,20.1,Algiers,76.7,112.0,$0.95,Arabic,28.10%,1.72,"43,053,054",41.20%,37.20%,66.10%,11.70%,"31,510,100",Algeria,"('28.033886 ', '1.659626')"
3,"$3,154,057,987",106.40%,NaN,2.7,Andorra la Vella,NaN,NaN,$6.63,Catalan,36.40%,3.33,"77,142",NaN,NaN,NaN,NaN,"67,873",Andorra,"('42.506285 ', '1.521801')"
4,"$94,635,415,870",113.50%,9.30%,51.6,Luanda,60.8,241.0,$0.71,Portuguese,33.40%,0.21,"31,825,295",77.50%,9.20%,49.10%,6.89%,"21,061,025",Angola,"('-11.202692 ', '17.873887')"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
190,"$482,359,318,768",97.20%,79.30%,21.4,Caracas,72.1,125.0,$0.01,Spanish,45.80%,1.92,"28,515,829",59.70%,NaN,73.30%,8.80%,"25,162,368",Venezuela,"('6.42375 ', '-66.58973')"
191,"$261,921,244,843",110.60%,28.50%,16.5,Ho Chi Minh City,75.3,43.0,$0.73,Vietnamese,43.50%,0.82,"96,462,106",77.40%,19.10%,37.60%,2.01%,"35,332,140",Vietnam,"('14.058324 ', '108.277199')"
192,"$26,914,402,224",93.60%,10.20%,42.9,Sanaa,66.1,164.0,NaN,Arabic,81.00%,0.31,"29,161,922",38.00%,NaN,26.60%,12.91%,"10,869,523",Yemen,"('15.552727 ', '48.516388')"
193,"$23,064,722,446",98.70%,4.10%,40.4,Lusaka,63.5,213.0,$0.24,English,27.50%,1.19,"17,861,030",74.60%,16.20%,15.60%,11.43%,"7,871,713",Zambia,"('-13.133897 ', '27.849332')"
194,"$21,440,758,800",109.90%,10.00%,33.9,Harare,61.2,458.0,NaN,Shona,25.80%,0.21,"14,645,468",83.10%,20.70%,31.60%,4.95%,"4,717,305",Zimbabwe,"('-19.015438 ', '29.154857')"

Utiliza el mÃ©todo de uniÃ³n de Pandas que consideres mÃ¡s adecuado para combinar los datos de ambos aÃ±os en un solo DataFrame.

In [5]:
df = pd1.merge(pd2, left_on='Country', right_on='country')
df

,Country,Density\n(P/Km2),Abbreviation,Agricultural Land( %),Land Area(Km2),Armed Forces size,Birth Rate,Calling Code,Capital/Major City,Co2-Emissions,CPI,CPI Change (%),Currency-Code,Fertility Rate,Forested Area (%),Gasoline Price,GDP,Gross primary education enrollment (%),Gross tertiary education enrollment (%),Infant mortality,Largest city,Life expectancy,Maternal mortality ratio,Minimum wage,Official language,Out of pocket health expenditure,Physicians per thousand,Population,Population: Labor force participation (%),Tax revenue (%),Total tax rate,Unemployment rate,Urban_population,country,coordinates
0,Afghanistan,60,AF,58.10%,"652,230","323,000",32.49,93.0,Kabul,"8,672",149.9,2.30%,AFN,4.47,2.10%,$0.70,"$19,101,353,833",104.00%,9.70%,47.9,Kabul,64.5,638.0,$0.43,Pashto,78.40%,0.28,"38,041,754",48.90%,9.30%,71.40%,11.12%,"9,797,273",Afghanistan,"('33.93911 ', '67.709953')"
1,Albania,105,AL,43.10%,"28,748","9,000",11.78,355.0,Tirana,"4,536",119.05,1.40%,ALL,1.62,28.10%,$1.36,"$15,278,077,447",107.00%,55.00%,7.8,Tirana,78.5,15.0,$1.12,Albanian,56.90%,1.20,"2,854,191",55.70%,18.60%,36.60%,12.33%,"1,747,593",Albania,"('41.153332 ', '20.168331')"
2,Algeria,18,DZ,17.40%,"2,381,741","317,000",24.28,213.0,Algiers,"150,006",151.36,2.00%,DZD,3.02,0.80%,$0.28,"$169,988,236,398",109.90%,51.40%,20.1,Algiers,76.7,112.0,$0.95,Arabic,28.10%,1.72,"43,053,054",41.20%,37.20%,66.10%,11.70%,"31,510,100",Algeria,"('28.033886 ', '1.659626')"
3,Andorra,164,AD,40.00%,468,NaN,7.20,376.0,Andorra la Vella,469,NaN,NaN,EUR,1.27,34.00%,$1.51,"$3,154,057,987",106.40%,NaN,2.7,Andorra la Vella,NaN,NaN,$6.63,Catalan,36.40%,3.33,"77,142",NaN,NaN,NaN,NaN,"67,873",Andorra,"('42.506285 ', '1.521801')"
4,Angola,26,AO,47.50%,"1,246,700","117,000",40.73,244.0,Luanda,"34,693",261.73,17.10%,AOA,5.52,46.30%,$0.97,"$94,635,415,870",113.50%,9.30%,51.6,Luanda,60.8,241.0,$0.71,Portuguese,33.40%,0.21,"31,825,295",77.50%,9.20%,49.10%,6.89%,"21,061,025",Angola,"('-11.202692 ', '17.873887')"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
190,Venezuela,32,VE,24.50%,"912,050","343,000",17.88,58.0,Caracas,"164,175","2,740.27",254.90%,VED,2.27,52.70%,$0.00,"$482,359,318,768",97.20%,79.30%,21.4,Caracas,72.1,125.0,$0.01,Spanish,45.80%,1.92,"28,515,829",59.70%,NaN,73.30%,8.80%,"25,162,368",Venezuela,"('6.42375 ', '-66.58973')"
191,Vietnam,314,VN,39.30%,"331,210","522,000",16.75,84.0,Hanoi,"192,668",163.52,2.80%,VND,2.05,48.10%,$0.80,"$261,921,244,843",110.60%,28.50%,16.5,Ho Chi Minh City,75.3,43.0,$0.73,Vietnamese,43.50%,0.82,"96,462,106",77.40%,19.10%,37.60%,2.01%,"35,332,140",Vietnam,"('14.058324 ', '108.277199')"
192,Yemen,56,YE,44.60%,"527,968","40,000",30.45,967.0,Sanaa,"10,609",157.58,8.10%,YER,3.79,1.00%,$0.92,"$26,914,402,224",93.60%,10.20%,42.9,Sanaa,66.1,164.0,NaN,Arabic,81.00%,0.31,"29,161,922",38.00%,NaN,26.60%,12.91%,"10,869,523",Yemen,"('15.552727 ', '48.516388')"
193,Zambia,25,ZM,32.10%,"752,618","16,000",36.19,260.0,Lusaka,"5,141",212.31,9.20%,ZMW,4.63,65.20%,$1.40,"$23,064,722,446",98.70%,4.10%,40.4,Lusaka,63.5,213.0,$0.24,English,27.50%,1.19,"17,861,030",74.60%,16.20%,15.60%,11.43%,"7,871,713",Zambia,"('-13.133897 ', '27.849332')"
194,Zimbabwe,38,ZW,41.90%,"390,757","51,000",30.68,263.0,Harare,"10,983",105.51,0.90%,NaN,3.62,35.50%,$1.34,"$21,440,758,800",109.90%,10.00%,33.9,Harare,61.2,458.0,NaN,Shona,25.80%,0.21,"14,645,468",83.10%,20.70%,31.60%,4.95%,"4,717,305",Zimbabwe,"('-19.015438 ', '29.154857')"

Hemos unido las columnas utilizando 'merge' porque tienen una columna en comÃº y nombre distinto (merge nos permite especificar los distintos nombres)

DespuÃ©s de la uniÃ³n de datos, tenemos dos columnas de "country". Elimina una de ellas.

In [6]:
df.drop('country', axis = 1, inplace = True)

Los nombres de las columnas no son homogeneos. Cambia los nombres de las columnas de tal forma que:

No tengan espacios.

EstÃ©n en minÃºscula.

No tengan parÃ©ntesis, es decir, quitar "(%)", "(Km2)".

Algunas columnas tiene "\n". Eliminalos de los nombres de las columnas.

Algunas columnas tienen ":". Eliminalos de los nombres de las columnas.

In [7]:
nuevas_columnas = {columna: columna.lower().replace('(_%)','').replace(" ", "_").replace('(p/km2)','').replace('(%)','').replace('(km2)','').replace('\n','').replace(':','') for columna in df.columns}
df.rename (columns = nuevas_columnas, inplace = True)
df

,country,density,abbreviation,agricultural_land(_%),land_area,armed_forces_size,birth_rate,calling_code,capital/major_city,co2-emissions,cpi,cpi_change_,currency-code,fertility_rate,forested_area_,gasoline_price,gdp,gross_primary_education_enrollment_,gross_tertiary_education_enrollment_,infant_mortality,largest_city,life_expectancy,maternal_mortality_ratio,minimum_wage,official_language,out_of_pocket_health_expenditure,physicians_per_thousand,population,population_labor_force_participation_,tax_revenue_,total_tax_rate,unemployment_rate,urban_population,coordinates
0,Afghanistan,60,AF,58.10%,"652,230","323,000",32.49,93.0,Kabul,"8,672",149.9,2.30%,AFN,4.47,2.10%,$0.70,"$19,101,353,833",104.00%,9.70%,47.9,Kabul,64.5,638.0,$0.43,Pashto,78.40%,0.28,"38,041,754",48.90%,9.30%,71.40%,11.12%,"9,797,273","('33.93911 ', '67.709953')"
1,Albania,105,AL,43.10%,"28,748","9,000",11.78,355.0,Tirana,"4,536",119.05,1.40%,ALL,1.62,28.10%,$1.36,"$15,278,077,447",107.00%,55.00%,7.8,Tirana,78.5,15.0,$1.12,Albanian,56.90%,1.20,"2,854,191",55.70%,18.60%,36.60%,12.33%,"1,747,593","('41.153332 ', '20.168331')"
2,Algeria,18,DZ,17.40%,"2,381,741","317,000",24.28,213.0,Algiers,"150,006",151.36,2.00%,DZD,3.02,0.80%,$0.28,"$169,988,236,398",109.90%,51.40%,20.1,Algiers,76.7,112.0,$0.95,Arabic,28.10%,1.72,"43,053,054",41.20%,37.20%,66.10%,11.70%,"31,510,100","('28.033886 ', '1.659626')"
3,Andorra,164,AD,40.00%,468,NaN,7.20,376.0,Andorra la Vella,469,NaN,NaN,EUR,1.27,34.00%,$1.51,"$3,154,057,987",106.40%,NaN,2.7,Andorra la Vella,NaN,NaN,$6.63,Catalan,36.40%,3.33,"77,142",NaN,NaN,NaN,NaN,"67,873","('42.506285 ', '1.521801')"
4,Angola,26,AO,47.50%,"1,246,700","117,000",40.73,244.0,Luanda,"34,693",261.73,17.10%,AOA,5.52,46.30%,$0.97,"$94,635,415,870",113.50%,9.30%,51.6,Luanda,60.8,241.0,$0.71,Portuguese,33.40%,0.21,"31,825,295",77.50%,9.20%,49.10%,6.89%,"21,061,025","('-11.202692 ', '17.873887')"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
190,Venezuela,32,VE,24.50%,"912,050","343,000",17.88,58.0,Caracas,"164,175","2,740.27",254.90%,VED,2.27,52.70%,$0.00,"$482,359,318,768",97.20%,79.30%,21.4,Caracas,72.1,125.0,$0.01,Spanish,45.80%,1.92,"28,515,829",59.70%,NaN,73.30%,8.80%,"25,162,368","('6.42375 ', '-66.58973')"
191,Vietnam,314,VN,39.30%,"331,210","522,000",16.75,84.0,Hanoi,"192,668",163.52,2.80%,VND,2.05,48.10%,$0.80,"$261,921,244,843",110.60%,28.50%,16.5,Ho Chi Minh City,75.3,43.0,$0.73,Vietnamese,43.50%,0.82,"96,462,106",77.40%,19.10%,37.60%,2.01%,"35,332,140","('14.058324 ', '108.277199')"
192,Yemen,56,YE,44.60%,"527,968","40,000",30.45,967.0,Sanaa,"10,609",157.58,8.10%,YER,3.79,1.00%,$0.92,"$26,914,402,224",93.60%,10.20%,42.9,Sanaa,66.1,164.0,NaN,Arabic,81.00%,0.31,"29,161,922",38.00%,NaN,26.60%,12.91%,"10,869,523","('15.552727 ', '48.516388')"
193,Zambia,25,ZM,32.10%,"752,618","16,000",36.19,260.0,Lusaka,"5,141",212.31,9.20%,ZMW,4.63,65.20%,$1.40,"$23,064,722,446",98.70%,4.10%,40.4,Lusaka,63.5,213.0,$0.24,English,27.50%,1.19,"17,861,030",74.60%,16.20%,15.60%,11.43%,"7,871,713","('-13.133897 ', '27.849332')"
194,Zimbabwe,38,ZW,41.90%,"390,757","51,000",30.68,263.0,Harare,"10,983",105.51,0.90%,NaN,3.62,35.50%,$1.34,"$21,440,758,800",109.90%,10.00%,33.9,Harare,61.2,458.0,NaN,Shona,25.80%,0.21,"14,645,468",83.10%,20.70%,31.60%,4.95%,"4,717,305","('-19.015438 ', '29.154857')"

La columnas coordinates tiene la latitud y la longitud en una sola columna. Crea dos columnas nuevas, una con la longitud y otra con la latitud. Una vez hecho, elimina la columna de coordinates.

In [8]:
df['coordinates'] = df['coordinates'].str.replace("(", "").str.replace(")", "")
nuevas = df['coordinates'].str.split(',', expand= True)
df = pd.concat([df,nuevas],axis = 1)

/tmp/ipykernel_18401/3937532655.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df['coordinates'] = df['coordinates'].str.replace("(", "").str.replace(")", "")

In [9]:
df.rename(columns={0: 'latitud', 1: 'longitud'}, inplace=True)
df.drop('coordinates', axis=1, inplace=True)
df

,country,density,abbreviation,agricultural_land(_%),land_area,armed_forces_size,birth_rate,calling_code,capital/major_city,co2-emissions,cpi,cpi_change_,currency-code,fertility_rate,forested_area_,gasoline_price,gdp,gross_primary_education_enrollment_,gross_tertiary_education_enrollment_,infant_mortality,largest_city,life_expectancy,maternal_mortality_ratio,minimum_wage,official_language,out_of_pocket_health_expenditure,physicians_per_thousand,population,population_labor_force_participation_,tax_revenue_,total_tax_rate,unemployment_rate,urban_population,latitud,longitud
0,Afghanistan,60,AF,58.10%,"652,230","323,000",32.49,93.0,Kabul,"8,672",149.9,2.30%,AFN,4.47,2.10%,$0.70,"$19,101,353,833",104.00%,9.70%,47.9,Kabul,64.5,638.0,$0.43,Pashto,78.40%,0.28,"38,041,754",48.90%,9.30%,71.40%,11.12%,"9,797,273",'33.93911 ','67.709953'
1,Albania,105,AL,43.10%,"28,748","9,000",11.78,355.0,Tirana,"4,536",119.05,1.40%,ALL,1.62,28.10%,$1.36,"$15,278,077,447",107.00%,55.00%,7.8,Tirana,78.5,15.0,$1.12,Albanian,56.90%,1.20,"2,854,191",55.70%,18.60%,36.60%,12.33%,"1,747,593",'41.153332 ','20.168331'
2,Algeria,18,DZ,17.40%,"2,381,741","317,000",24.28,213.0,Algiers,"150,006",151.36,2.00%,DZD,3.02,0.80%,$0.28,"$169,988,236,398",109.90%,51.40%,20.1,Algiers,76.7,112.0,$0.95,Arabic,28.10%,1.72,"43,053,054",41.20%,37.20%,66.10%,11.70%,"31,510,100",'28.033886 ','1.659626'
3,Andorra,164,AD,40.00%,468,NaN,7.20,376.0,Andorra la Vella,469,NaN,NaN,EUR,1.27,34.00%,$1.51,"$3,154,057,987",106.40%,NaN,2.7,Andorra la Vella,NaN,NaN,$6.63,Catalan,36.40%,3.33,"77,142",NaN,NaN,NaN,NaN,"67,873",'42.506285 ','1.521801'
4,Angola,26,AO,47.50%,"1,246,700","117,000",40.73,244.0,Luanda,"34,693",261.73,17.10%,AOA,5.52,46.30%,$0.97,"$94,635,415,870",113.50%,9.30%,51.6,Luanda,60.8,241.0,$0.71,Portuguese,33.40%,0.21,"31,825,295",77.50%,9.20%,49.10%,6.89%,"21,061,025",'-11.202692 ','17.873887'
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
190,Venezuela,32,VE,24.50%,"912,050","343,000",17.88,58.0,Caracas,"164,175","2,740.27",254.90%,VED,2.27,52.70%,$0.00,"$482,359,318,768",97.20%,79.30%,21.4,Caracas,72.1,125.0,$0.01,Spanish,45.80%,1.92,"28,515,829",59.70%,NaN,73.30%,8.80%,"25,162,368",'6.42375 ','-66.58973'
191,Vietnam,314,VN,39.30%,"331,210","522,000",16.75,84.0,Hanoi,"192,668",163.52,2.80%,VND,2.05,48.10%,$0.80,"$261,921,244,843",110.60%,28.50%,16.5,Ho Chi Minh City,75.3,43.0,$0.73,Vietnamese,43.50%,0.82,"96,462,106",77.40%,19.10%,37.60%,2.01%,"35,332,140",'14.058324 ','108.277199'
192,Yemen,56,YE,44.60%,"527,968","40,000",30.45,967.0,Sanaa,"10,609",157.58,8.10%,YER,3.79,1.00%,$0.92,"$26,914,402,224",93.60%,10.20%,42.9,Sanaa,66.1,164.0,NaN,Arabic,81.00%,0.31,"29,161,922",38.00%,NaN,26.60%,12.91%,"10,869,523",'15.552727 ','48.516388'
193,Zambia,25,ZM,32.10%,"752,618","16,000",36.19,260.0,Lusaka,"5,141",212.31,9.20%,ZMW,4.63,65.20%,$1.40,"$23,064,722,446",98.70%,4.10%,40.4,Lusaka,63.5,213.0,$0.24,English,27.50%,1.19,"17,861,030",74.60%,16.20%,15.60%,11.43%,"7,871,713",'-13.133897 ','27.849332'
194,Zimbabwe,38,ZW,41.90%,"390,757","51,000",30.68,263.0,Harare,"10,983",105.51,0.90%,NaN,3.62,35.50%,$1.34,"$21,440,758,800",109.90%,10.00%,33.9,Harare,61.2,458.0,NaN,Shona,25.80%,0.21,"14,645,468",83.10%,20.70%,31.60%,4.95%,"4,717,305",'-19.015438 ','29.154857'

Las columnas unemployment_rate, total_tax_rate, tax_revenue, population_labor_force_participation, out_of_pocket_health_expenditure, gross_tertiary_education_enrollment, gross_primary_education_enrollment, forested_area, cpi_change, agricultural_land tienen "%". Elimina los "%" de los valores de las columnas.

In [10]:
columnas= ['unemployment_rate','total_tax_rate','tax_revenue_','population_labor_force_participation_','out_of_pocket_health_expenditure','gross_tertiary_education_enrollment_','gross_primary_education_enrollment_','forested_area_','cpi_change_','agricultural_land(_%)']
for elemento in columnas:
    df[elemento] = df[elemento].str.replace('%','')

In [11]:
df.head()

,country,density,abbreviation,agricultural_land(_%),land_area,armed_forces_size,birth_rate,calling_code,capital/major_city,co2-emissions,cpi,cpi_change_,currency-code,fertility_rate,forested_area_,gasoline_price,gdp,gross_primary_education_enrollment_,gross_tertiary_education_enrollment_,infant_mortality,largest_city,life_expectancy,maternal_mortality_ratio,minimum_wage,official_language,out_of_pocket_health_expenditure,physicians_per_thousand,population,population_labor_force_participation_,tax_revenue_,total_tax_rate,unemployment_rate,urban_population,latitud,longitud
0,Afghanistan,60,AF,58.10,"652,230","323,000",32.49,93.0,Kabul,"8,672",149.9,2.30,AFN,4.47,2.10,$0.70,"$19,101,353,833",104.00,9.70,47.9,Kabul,64.5,638.0,$0.43,Pashto,78.40,0.28,"38,041,754",48.90,9.30,71.40,11.12,"9,797,273",'33.93911 ','67.709953'
1,Albania,105,AL,43.10,"28,748","9,000",11.78,355.0,Tirana,"4,536",119.05,1.40,ALL,1.62,28.10,$1.36,"$15,278,077,447",107.00,55.00,7.8,Tirana,78.5,15.0,$1.12,Albanian,56.90,1.20,"2,854,191",55.70,18.60,36.60,12.33,"1,747,593",'41.153332 ','20.168331'
2,Algeria,18,DZ,17.40,"2,381,741","317,000",24.28,213.0,Algiers,"150,006",151.36,2.00,DZD,3.02,0.80,$0.28,"$169,988,236,398",109.90,51.40,20.1,Algiers,76.7,112.0,$0.95,Arabic,28.10,1.72,"43,053,054",41.20,37.20,66.10,11.70,"31,510,100",'28.033886 ','1.659626'
3,Andorra,164,AD,40.00,468,NaN,7.20,376.0,Andorra la Vella,469,NaN,NaN,EUR,1.27,34.00,$1.51,"$3,154,057,987",106.40,NaN,2.7,Andorra la Vella,NaN,NaN,$6.63,Catalan,36.40,3.33,"77,142",NaN,NaN,NaN,NaN,"67,873",'42.506285 ','1.521801'
4,Angola,26,AO,47.50,"1,246,700","117,000",40.73,244.0,Luanda,"34,693",261.73,17.10,AOA,5.52,46.30,$0.97,"$94,635,415,870",113.50,9.30,51.6,Luanda,60.8,241.0,$0.71,Portuguese,33.40,0.21,"31,825,295",77.50,9.20,49.10,6.89,"21,061,025",'-11.202692 ','17.873887'

Haz lo mismo para las columnas de gasoline_price, gdp, minimum_wage, pero eliminando "$".

In [12]:
columnas=['gasoline_price','gdp','minimum_wage']
for elemento in columnas:
    df[elemento] = df[elemento].str.replace('$','')

/tmp/ipykernel_18401/228215435.py:3: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df[elemento] = df[elemento].str.replace('$','')

In [13]:
df

,country,density,abbreviation,agricultural_land(_%),land_area,armed_forces_size,birth_rate,calling_code,capital/major_city,co2-emissions,cpi,cpi_change_,currency-code,fertility_rate,forested_area_,gasoline_price,gdp,gross_primary_education_enrollment_,gross_tertiary_education_enrollment_,infant_mortality,largest_city,life_expectancy,maternal_mortality_ratio,minimum_wage,official_language,out_of_pocket_health_expenditure,physicians_per_thousand,population,population_labor_force_participation_,tax_revenue_,total_tax_rate,unemployment_rate,urban_population,latitud,longitud
0,Afghanistan,60,AF,58.10,"652,230","323,000",32.49,93.0,Kabul,"8,672",149.9,2.30,AFN,4.47,2.10,0.70,"19,101,353,833",104.00,9.70,47.9,Kabul,64.5,638.0,0.43,Pashto,78.40,0.28,"38,041,754",48.90,9.30,71.40,11.12,"9,797,273",'33.93911 ','67.709953'
1,Albania,105,AL,43.10,"28,748","9,000",11.78,355.0,Tirana,"4,536",119.05,1.40,ALL,1.62,28.10,1.36,"15,278,077,447",107.00,55.00,7.8,Tirana,78.5,15.0,1.12,Albanian,56.90,1.20,"2,854,191",55.70,18.60,36.60,12.33,"1,747,593",'41.153332 ','20.168331'
2,Algeria,18,DZ,17.40,"2,381,741","317,000",24.28,213.0,Algiers,"150,006",151.36,2.00,DZD,3.02,0.80,0.28,"169,988,236,398",109.90,51.40,20.1,Algiers,76.7,112.0,0.95,Arabic,28.10,1.72,"43,053,054",41.20,37.20,66.10,11.70,"31,510,100",'28.033886 ','1.659626'
3,Andorra,164,AD,40.00,468,NaN,7.20,376.0,Andorra la Vella,469,NaN,NaN,EUR,1.27,34.00,1.51,"3,154,057,987",106.40,NaN,2.7,Andorra la Vella,NaN,NaN,6.63,Catalan,36.40,3.33,"77,142",NaN,NaN,NaN,NaN,"67,873",'42.506285 ','1.521801'
4,Angola,26,AO,47.50,"1,246,700","117,000",40.73,244.0,Luanda,"34,693",261.73,17.10,AOA,5.52,46.30,0.97,"94,635,415,870",113.50,9.30,51.6,Luanda,60.8,241.0,0.71,Portuguese,33.40,0.21,"31,825,295",77.50,9.20,49.10,6.89,"21,061,025",'-11.202692 ','17.873887'
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
190,Venezuela,32,VE,24.50,"912,050","343,000",17.88,58.0,Caracas,"164,175","2,740.27",254.90,VED,2.27,52.70,0.00,"482,359,318,768",97.20,79.30,21.4,Caracas,72.1,125.0,0.01,Spanish,45.80,1.92,"28,515,829",59.70,NaN,73.30,8.80,"25,162,368",'6.42375 ','-66.58973'
191,Vietnam,314,VN,39.30,"331,210","522,000",16.75,84.0,Hanoi,"192,668",163.52,2.80,VND,2.05,48.10,0.80,"261,921,244,843",110.60,28.50,16.5,Ho Chi Minh City,75.3,43.0,0.73,Vietnamese,43.50,0.82,"96,462,106",77.40,19.10,37.60,2.01,"35,332,140",'14.058324 ','108.277199'
192,Yemen,56,YE,44.60,"527,968","40,000",30.45,967.0,Sanaa,"10,609",157.58,8.10,YER,3.79,1.00,0.92,"26,914,402,224",93.60,10.20,42.9,Sanaa,66.1,164.0,NaN,Arabic,81.00,0.31,"29,161,922",38.00,NaN,26.60,12.91,"10,869,523",'15.552727 ','48.516388'
193,Zambia,25,ZM,32.10,"752,618","16,000",36.19,260.0,Lusaka,"5,141",212.31,9.20,ZMW,4.63,65.20,1.40,"23,064,722,446",98.70,4.10,40.4,Lusaka,63.5,213.0,0.24,English,27.50,1.19,"17,861,030",74.60,16.20,15.60,11.43,"7,871,713",'-13.133897 ','27.849332'
194,Zimbabwe,38,ZW,41.90,"390,757","51,000",30.68,263.0,Harare,"10,983",105.51,0.90,NaN,3.62,35.50,1.34,"21,440,758,800",109.90,10.00,33.9,Harare,61.2,458.0,NaN,Shona,25.80,0.21,"14,645,468",83.10,20.70,31.60,4.95,"4,717,305",'-19.015438 ','29.154857'

Guarda el DataFrame para usarlo en el pairprogramming de maÃ±ana.

In [14]:
df.to_csv('world_data_nuevo.csv')

-----------
## Ejercicios de filtrado
-----------

1. Encuentra todos los paÃ­ses cuya mortalidad infantil estÃ© entre 40 y 50 personas por kilÃ³metro cuadrado.

In [15]:
df[(df['infant_mortality'] >= 40) & (df['infant_mortality'] <= 50)]

,country,density,abbreviation,agricultural_land(_%),land_area,armed_forces_size,birth_rate,calling_code,capital/major_city,co2-emissions,cpi,cpi_change_,currency-code,fertility_rate,forested_area_,gasoline_price,gdp,gross_primary_education_enrollment_,gross_tertiary_education_enrollment_,infant_mortality,largest_city,life_expectancy,maternal_mortality_ratio,minimum_wage,official_language,out_of_pocket_health_expenditure,physicians_per_thousand,population,population_labor_force_participation_,tax_revenue_,total_tax_rate,unemployment_rate,urban_population,latitud,longitud
0,Afghanistan,60,AF,58.10,"652,230","323,000",32.49,93.0,Kabul,"8,672",149.9,2.30,AFN,4.47,2.10,0.70,"19,101,353,833",104.00,9.70,47.9,Kabul,64.5,638.0,0.43,Pashto,78.40,0.28,"38,041,754",48.90,9.30,71.40,11.12,"9,797,273",'33.93911 ','67.709953'
26,Burkina Faso,76,BF,44.20,"274,200","11,000",37.93,226.0,Ouagadougou,"3,418",106.58,-3.20,XOF,5.19,19.30,0.98,"15,745,810,235",96.10,6.50,49.0,Ouagadougou,61.2,320.0,0.34,French,36.10,0.08,"20,321,378",66.40,15.00,41.30,6.26,"6,092,349",'12.238333 ','-1.561593'
27,Burundi,463,BI,79.20,"27,830","31,000",39.01,257.0,Bujumbura,495,182.11,-0.70,BIF,5.41,10.90,1.21,"3,012,334,882",121.40,6.10,41.0,Bujumbura,61.2,548.0,NaN,Kirundi,19.10,0.10,"11,530,580",79.20,13.60,41.20,1.43,"1,541,177",'-3.373056 ','29.918886'
47,Djibouti,43,DJ,73.40,"23,200","13,000",21.47,253.0,Djibouti City,620,120.25,3.30,DJF,2.73,0.20,1.32,"3,318,716,359",75.30,5.30,49.8,Djibouti City,66.6,248.0,NaN,French,20.40,0.22,"973,560",60.20,NaN,37.90,10.30,"758,549",'11.825138 ','42.590275'
72,Haiti,414,HT,66.80,"27,750",0,24.35,509.0,Port-au-Prince,"2,978",179.29,12.50,HTG,2.94,3.50,0.81,"8,498,981,821",113.60,1.10,49.5,Port-au-Prince,63.7,480.0,0.25,French,36.30,0.23,"11,263,077",67.20,NaN,42.70,13.78,"6,328,948",'18.971187 ','-72.285215'
89,Kiribati,147,KI,42.00,811,NaN,27.89,686.0,South Tarawa,66,99.55,0.60,AUD,3.57,15.00,NaN,"194,647,202",101.30,NaN,41.2,South Tarawa,68.1,92.0,NaN,English,0.20,0.20,"117,606",NaN,22.00,32.70,NaN,"64,489",'1.8368976 ','-157.3768317'
125,Niger,19,NE,36.10,"1,267,000","10,000",46.08,227.0,Niamey,"2,017",109.32,-2.50,XOF,6.91,0.90,0.88,"12,928,145,120",74.70,4.40,48.0,Niamey,62.0,509.0,0.29,French,52.30,0.04,"23,310,715",72.00,11.80,47.20,0.47,"3,850,231",'17.607789 ','8.081666'
166,Sudan,25,SD,28.70,"1,861,484","124,000",32.18,249.0,Khartoum,"20,000","1,344.19",51.00,SDG,4.41,8.10,0.95,"18,902,284,476",76.80,16.90,42.1,Omdurman,65.1,295.0,0.41,Arabic,63.20,0.26,"42,813,238",48.40,8.00,45.40,16.53,"14,957,233",'12.862807 ','30.217636'
175,Togo,152,TG,70.20,"56,785","10,000",33.11,228.0,Lomï¿½,"3,000",113.3,0.70,XOF,4.32,3.10,0.71,"5,459,979,417",123.80,14.50,47.4,Lomï¿½,60.8,396.0,0.34,French,51.00,0.08,"8,082,366",77.60,16.90,48.20,2.04,"3,414,638",'8.619543 ','0.824782'
192,Yemen,56,YE,44.60,"527,968","40,000",30.45,967.0,Sanaa,"10,609",157.58,8.10,YER,3.79,1.00,0.92,"26,914,402,224",93.60,10.20,42.9,Sanaa,66.1,164.0,NaN,Arabic,81.00,0.31,"29,161,922",38.00,NaN,26.60,12.91,"10,869,523",'15.552727 ','48.516388'
193,Zambia,25,ZM,32.10,"752,618","16,000",36.19,260.0,Lusaka,"5,141",212.31,9.20,ZMW,4.63,65.20,1.40,"23,064,722,446",98.70,4.10,40.4,Lusaka,63.5,213.0,0.24,English,27.50,1.19,"17,861,030",74.60,16.20,15.60,11.43,"7,871,713",'-13.133897 ','27.849332'

2. Encuentra los paÃ­ses cuyas tasas de natalidad son mayores o iguales a 20 y su esperanza de vida es mayor de 75 aÃ±os.

In [16]:
df[(df['birth_rate'] >= 20) & (df['life_expectancy'] <= 75)]

,country,density,abbreviation,agricultural_land(_%),land_area,armed_forces_size,birth_rate,calling_code,capital/major_city,co2-emissions,cpi,cpi_change_,currency-code,fertility_rate,forested_area_,gasoline_price,gdp,gross_primary_education_enrollment_,gross_tertiary_education_enrollment_,infant_mortality,largest_city,life_expectancy,maternal_mortality_ratio,minimum_wage,official_language,out_of_pocket_health_expenditure,physicians_per_thousand,population,population_labor_force_participation_,tax_revenue_,total_tax_rate,unemployment_rate,urban_population,latitud,longitud
0,Afghanistan,60,AF,58.10,"652,230","323,000",32.49,93.0,Kabul,"8,672",149.9,2.30,AFN,4.47,2.10,0.70,"19,101,353,833",104.00,9.70,47.9,Kabul,64.5,638.0,0.43,Pashto,78.40,0.28,"38,041,754",48.90,9.30,71.40,11.12,"9,797,273",'33.93911 ','67.709953'
4,Angola,26,AO,47.50,"1,246,700","117,000",40.73,244.0,Luanda,"34,693",261.73,17.10,AOA,5.52,46.30,0.97,"94,635,415,870",113.50,9.30,51.6,Luanda,60.8,241.0,0.71,Portuguese,33.40,0.21,"31,825,295",77.50,9.20,49.10,6.89,"21,061,025",'-11.202692 ','17.873887'
17,Belize,17,BZ,7.00,"22,966","2,000",20.79,501.0,Belmopan,568,105.68,-0.90,BZD,2.31,59.70,1.13,"1,879,613,600",111.70,24.70,11.2,Belize City,74.5,36.0,1.65,English,22.70,1.12,"390,353",65.10,26.30,31.10,6.41,"179,039",'17.189877 ','-88.49765'
18,Benin,108,BJ,33.30,"112,622","12,000",36.22,229.0,Porto-Novo,"6,476",110.71,-0.90,XOF,4.84,37.80,0.72,"14,390,709,095",122.00,12.30,60.5,Cotonou,61.5,397.0,0.39,French,40.50,0.08,"11,801,151",70.90,10.80,48.90,2.23,"5,648,149",'9.30769 ','2.315834'
20,Bolivia,11,BO,34.80,"1,098,581","71,000",21.75,591.0,Sucre,"21,606",148.32,1.80,BOB,2.73,50.30,0.71,"40,895,322,865",98.20,NaN,21.8,Santa Cruz de la Sierra,71.2,155.0,1.36,Spanish,25.90,1.59,"11,513,100",71.80,17.00,83.70,3.50,"8,033,035",'-16.290154 ','-63.588653'
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
188,Uzbekistan,79,UZ,62.90,"447,400","68,000",23.30,998.0,Tashkent,"91,811",NaN,NaN,UZS,2.42,7.50,1.03,"57,921,286,440",104.20,10.10,19.1,Tashkent,71.6,29.0,0.24,Uzbek,42.70,2.37,"33,580,650",65.10,14.80,31.60,5.92,"16,935,729",'41.377491 ','64.585262'
189,Vanuatu,25,VU,15.30,"12,189",NaN,29.60,678.0,Port Vila,147,117.13,2.80,VUV,3.78,36.10,1.31,"917,058,851",109.30,4.70,22.3,Port Vila,70.3,72.0,1.56,French,8.90,0.17,"299,882",69.90,17.80,8.50,4.39,"76,152",'-15.376706 ','166.959158'
192,Yemen,56,YE,44.60,"527,968","40,000",30.45,967.0,Sanaa,"10,609",157.58,8.10,YER,3.79,1.00,0.92,"26,914,402,224",93.60,10.20,42.9,Sanaa,66.1,164.0,NaN,Arabic,81.00,0.31,"29,161,922",38.00,NaN,26.60,12.91,"10,869,523",'15.552727 ','48.516388'
193,Zambia,25,ZM,32.10,"752,618","16,000",36.19,260.0,Lusaka,"5,141",212.31,9.20,ZMW,4.63,65.20,1.40,"23,064,722,446",98.70,4.10,40.4,Lusaka,63.5,213.0,0.24,English,27.50,1.19,"17,861,030",74.60,16.20,15.60,11.43,"7,871,713",'-13.133897 ','27.849332'
194,Zimbabwe,38,ZW,41.90,"390,757","51,000",30.68,263.0,Harare,"10,983",105.51,0.90,NaN,3.62,35.50,1.34,"21,440,758,800",109.90,10.00,33.9,Harare,61.2,458.0,NaN,Shona,25.80,0.21,"14,645,468",83.10,20.70,31.60,4.95,"4,717,305",'-19.015438 ','29.154857'

3. Encuentra las ciudades cuyos paises contienen la palabra "la" en su nombre.

In [17]:
df[df['country'].str.lower().str.contains('la')]

,country,density,abbreviation,agricultural_land(_%),land_area,armed_forces_size,birth_rate,calling_code,capital/major_city,co2-emissions,cpi,cpi_change_,currency-code,fertility_rate,forested_area_,gasoline_price,gdp,gross_primary_education_enrollment_,gross_tertiary_education_enrollment_,infant_mortality,largest_city,life_expectancy,maternal_mortality_ratio,minimum_wage,official_language,out_of_pocket_health_expenditure,physicians_per_thousand,population,population_labor_force_participation_,tax_revenue_,total_tax_rate,unemployment_rate,urban_population,latitud,longitud
4,Angola,26,AO,47.50,"1,246,700","117,000",40.73,244.0,Luanda,"34,693",261.73,17.10,AOA,5.52,46.30,0.97,"94,635,415,870",113.50,9.30,51.6,Luanda,60.8,241.0,0.71,Portuguese,33.40,0.21,"31,825,295",77.50,9.20,49.10,6.89,"21,061,025",'-11.202692 ','17.873887'
13,Bangladesh,"1,265",BD,70.60,"148,460","221,000",18.18,880.0,Dhaka,"84,246",179.68,5.60,BDT,2.04,11.00,1.12,"302,571,254,131",116.50,20.60,25.1,Dhaka,72.3,173.0,0.51,Bengali,71.80,0.58,"167,310,838",59.00,8.80,33.40,4.19,"60,987,417",'23.684994 ','90.356331'
15,Belarus,47,BY,42.00,"207,600","155,000",9.90,375.0,Minsk,"58,280",NaN,5.60,BYN,1.45,42.60,0.60,"63,080,457,023",100.50,87.40,2.6,Minsk,74.2,2.0,1.49,Russian,34.50,5.19,"9,466,856",64.10,14.70,53.30,4.59,"7,482,982",'53.709807 ','27.953389'
59,Finland,18,FI,7.50,"338,145","25,000",8.60,358.0,Helsinki,"45,871",112.33,1.00,EUR,1.41,73.10,1.45,"268,761,201,365",100.20,88.20,1.4,Helsinki,81.7,3.0,NaN,Swedish,19.90,3.81,"5,520,314",59.10,20.80,36.60,6.59,"4,716,888",'61.92411 ','25.748151'
68,Guatemala,167,GT,36.00,"108,889","43,000",24.56,502.0,Guatemala City,"16,777",142.92,3.70,GTQ,2.87,32.70,0.79,"76,710,385,880",101.90,21.80,22.1,Guatemala City,74.1,95.0,1.60,Spanish,55.80,0.35,"16,604,026",62.30,10.60,35.20,2.46,"8,540,945",'15.783471 ','-90.230759'
76,Iceland,3,IS,18.70,"103,000",0,12.00,354.0,Reykjavï¿½ï¿½,"2,065",129,3.00,ISK,1.71,0.50,1.69,"24,188,035,739",100.40,71.80,1.5,Reykjavï¿½ï¿½,82.7,4.0,NaN,Icelandic,17.00,4.08,"361,313",75.00,23.30,31.90,2.84,"339,110",'64.963051 ','-19.020835'
81,Republic of Ireland,72,NaN,64.50,"70,273","9,000",12.50,353.0,Dublin,"37,711",106.58,0.90,EUR,1.75,11.00,1.37,"388,698,711,348",100.90,77.80,3.1,Connacht,82.3,5.0,10.79,Irish,15.20,3.31,"5,007,069",62.10,18.30,26.10,4.93,"3,133,123",'53.41291 ','-8.24389'
92,Laos,32,LA,10.30,"236,800","129,000",23.55,856.0,Vientiane,"17,763",135.87,3.30,LAK,2.67,82.10,0.93,"18,173,839,128",102.40,15.00,37.6,Vientiane,67.6,185.0,0.83,Lao,45.40,0.37,"7,169,455",78.50,12.90,24.10,0.63,"2,555,552",'19.85627 ','102.495496'
93,Latvia,30,LV,31.10,"64,589","6,000",10.00,371.0,Riga,"7,004",116.86,2.80,EUR,1.60,54.00,1.16,"34,117,202,555",99.40,88.10,3.3,Riga,74.7,19.0,2.80,Latvian,41.60,3.19,"1,912,789",61.40,22.90,38.10,6.52,"1,304,943",'56.879635 ','24.603189'
102,Malawi,203,MW,61.40,"118,484","15,000",34.12,265.0,Lilongwe,"1,298",418.34,9.40,MWK,4.21,33.20,1.15,"7,666,704,427",142.50,0.80,35.3,Lilongwe,63.8,349.0,0.12,English,11.00,0.04,"18,628,747",76.70,17.30,34.50,5.65,"3,199,301",'-13.254308 ','34.301525'
103,Malaysia,99,MY,26.30,"329,847","136,000",16.75,60.0,Kuala Lumpur,"248,289",121.46,0.70,MYR,2.00,67.60,0.45,"364,701,517,788",105.30,45.10,6.7,Johor Bahru,76.0,29.0,0.93,Malaysian language,36.70,1.51,"32,447,385",64.30,12.00,38.70,3.32,"24,475,766",'4.210484 ','101.975766'
107,Marshall Islands,329,MH,63.90,181,NaN,29.03,692.0,Majuro,143,NaN,NaN,USD,4.05,70.20,1.44,"221,278,000",84.70,23.70,27.4,Majuro,65.2,NaN,2.00,Marshallese,10.00,0.42,"58,791",NaN,17.80,65.90,NaN,"45,514",'7.131474 ','171.184478'
122,Netherlands,508,NL,53.30,"41,543","41,000",9.70,31.0,Amsterdam,"170,780",115.91,2.60,NaN,1.59,11.20,1.68,"909,070,395,161",104.20,85.00,3.3,Amsterdam,81.8,5.0,10.29,Dutch,12.30,3.61,"17,332,850",63.60,23.00,41.20,3.20,"15,924,729",'52.132633 ','5.291266'
123,New Zealand,18,NZ,40.50,"268,838","9,000",11.98,64.0,Wellington,"34,382",114.24,1.60,NZD,1.71,38.60,1.40,"206,928,765,544",100.00,82.00,4.7,Auckland,81.9,9.0,11.49,English,12.60,3.59,"4,841,000",69.90,29.00,34.60,4.07,"4,258,860",'-40.900557 ','174.885971'
132,Palau,39,PW,10.90,459,NaN,14.00,680.0,Ngerulmud,224,118.17,1.30,USD,2.21,87.60,NaN,"283,994,900",112.60,54.70,16.6,Koror,69.1,NaN,3.00,English,21.80,1.18,"18,233",NaN,21.30,76.60,NaN,"14,491",'7.51498 ','134.58252'
139,Poland,124,PL,46.90,"312,685","191,000",10.20,48.0,Warsaw,"299,037",114.11,2.20,PLN,1.46,30.90,1.07,"592,164,400,688",100.00,67.80,3.8,Warsaw,77.6,2.0,2.93,Polish,23.20,2.38,"37,970,874",56.70,17.40,40.80,3.47,"22,796,574",'51.919438 ','19.145136'
159,Solomon Islands,25,SB,3.90,"28,896",NaN,32.44,677.0,Honiara,169,133.06,1.60,SBD,4.40,77.90,NaN,"1,425,074,226",106.20,NaN,17.1,Honiara,72.8,104.0,0.40,English,3.30,0.19,"669,823",83.80,29.50,32.00,0.58,"162,164",'-9.64571 ','160.156194'
165,Sri Lanka,341,LK,43.70,"65,610","317,000",15.83,94.0,Colombo,"23,362",155.53,3.50,LKR,2.20,32.90,0.88,"84,008,783,756",100.20,19.60,6.4,Colombo,76.8,36.0,0.35,Tamil,38.40,1.00,"21,803,000",53.90,11.90,55.20,4.20,"4,052,088",'7.873054 ','80.771797'
169,Switzerland,219,CH,38.40,"41,277","21,000",10.00,41.0,Bern,"34,477",99.55,0.40,CHF,1.52,31.80,1.45,"703,082,435,360",105.20,59.60,3.7,Zï¿½ï¿½ï¿½,83.6,5.0,NaN,German,28.30,4.30,"8,574,832",68.30,10.10,28.80,4.58,"6,332,428",'46.818188 ','8.227512'
173,Thailand,137,TH,43.30,"513,120","455,000",10.34,66.0,Bangkok,"283,763",113.27,0.70,THB,1.53,32.20,0.71,"543,649,976,166",99.80,49.30,7.8,Bangkok,76.9,37.0,1.06,Thai,11.80,0.81,"69,625,582",67.30,14.90,29.50,0.75,"35,294,600",'15.870032 ','100.992541'
190,Venezuela,32,VE,24.50,"912,050","343,000",17.88,58.0,Caracas,"164,175","2,740.27",254.90,VED,2.27,52.70,0.00,"482,359,318,768",97.20,79.30,21.4,Caracas,72.1,125.0,0.01,Spanish,45.80,1.92,"28,515,829",59.70,NaN,73.30,8.80,"25,162,368",'6.42375 ','-66.58973'

4. Encuentra los paÃ­ses cuyos medicos por cada 1000 habitantes (physicians_per_thousand) sea mayores de 5.

In [25]:
df.loc[df["physicians_per_thousand"] > 5, 'country']

9         Austria
15        Belarus
42           Cuba
63        Georgia
66         Greece
99      Lithuania
113        Monaco
140      Portugal
149    San Marino
187       Uruguay
Name: country, dtype: object

5. Encuentra los paÃ­ses cuya tasa de fertilidad sea mayor a 6.

In [26]:
df.loc[df["fertility_rate"] > 6, 'country']

125      Niger
160    Somalia
Name: country, dtype: object

6. Encuentra los paÃ­ses cuya moneda es el euro (EUR) y tienen una tasa de natalidad superior al promedio.

In [31]:
promedio_natalidad = df['birth_rate'].mean()
paises_euro_natalidad = df.loc[(df["currency-code"] == 'EUR') & (df['birth_rate'] > promedio_natalidad), 'country']
paises_euro_natalidad

Series([], Name: country, dtype: object)

7. Encuentra los paÃ­ses cuyas tasas de mortalidad infantil son superiores a 70.

In [33]:
df.loc[df['infant_mortality']>70, 'country']

33     Central African Republic
34                         Chad
126                     Nigeria
155                Sierra Leone
160                     Somalia
Name: country, dtype: object